@model IndexViewModel

@{
	ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
	<a asp-action="Create">Create New</a>
</p>
<h3>Future Exams</h3>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.FutureExamsTable.FirstOrDefault().Exams.FirstOrDefault().Title)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.FutureExamsTable.FirstOrDefault().Exams.FirstOrDefault().Duration)
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var subject in Model.FutureExamsTable)
		{
			<tr>
				<th colspan="2">
					@Html.DisplayFor(modelItem => subject.Name)
				</th>
			</tr>

			@foreach (var exam in subject.Exams)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => exam.Title)
					</td>
					<td>
						@Html.DisplayFor(modelItem => exam.Duration, "DurationFormatPartial")
					</td>
				</tr>
			}
		}
	</tbody>
</table>

<br />

<h3>Past Exams</h3>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.PastExamsTable.FirstOrDefault().Exams.FirstOrDefault().Title)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.PastExamsTable.FirstOrDefault().Exams.FirstOrDefault().Duration)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.PastExamsTable.FirstOrDefault().Exams.FirstOrDefault().Grade)
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var subject in Model.PastExamsTable)
		{
			<tr>
				<th colspan="2">
					@Html.DisplayFor(modelItem => subject.Name)
				</th>
			</tr>

			@foreach (var exam in subject.Exams)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => exam.Title)
					</td>
					<td>
						@Html.DisplayFor(modelItem => exam.Duration, "DurationFormatPartial")
					</td>
					<td>
						@Html.DisplayFor(modelItem => exam.Grade)
					</td>
				</tr>
			}
		}
	</tbody>
</table>